.header {
    background-color: rgb(236, 236, 236);
    height: 3rem;
    display: flex;

    &__button-container{
        height: 3rem;
        width: 15rem;
        display: flex;
        // background-color: red;
    }

    &__button{
        height : 2rem;
        margin: auto;
        border-radius: .5rem;
        border: 1px solid black;

        &:hover {
            background-color: rgb(217, 217, 224);
        }

    }

}